<bc-cart [formGroup]="form">
  <bc-cart-item label="Заголовок">
    <input type="text" formControlName="title">
  </bc-cart-item>

  <bc-cart-item label="Авторы">  
    <bc-alert *ngIf="authors.errors?.arrayAny && authors.touched">Укажите авторов</bc-alert>  
    <bc-cart-item *ngFor="let author of authors.controls; let idx=index" [formGroup]="author" [label]="idx + 1">
      <bc-cart-item label="Фамилия">
        <input formControlName="firstName" type="text">
      </bc-cart-item>
      <bc-cart-item label="Имя">
        <input formControlName="lastName" type="text">
      </bc-cart-item>
      <bc-button type="gray" (click)="removeAuthor(idx)">-</bc-button>
    </bc-cart-item>
    <bc-button type="gray" (click)="appendAuthor()">+</bc-button>
  </bc-cart-item>

  <bc-cart-item label="Количество страниц">
    <input type="number" formControlName="pages">
  </bc-cart-item>
  <bc-cart-item label="Издатель">
    <input type="text" formControlName="publisherName">
  </bc-cart-item>
  <bc-cart-item label="Год публикации">
    <input type="number" formControlName="publicationYear">
  </bc-cart-item>
  <bc-cart-item label="Дата выхода в тираж">
    <input id="releaseAt" type="date" formControlName="releaseAt">
  </bc-cart-item>
  <bc-cart-item label="ISBN">
    <input type="text" formControlName="isbn">
  </bc-cart-item>
  <bc-cart-item label="Изображение">
    <bc-image-loader formControlName="image"></bc-image-loader>
  </bc-cart-item>
</bc-cart>


<bc-button type="gray" (click)="save()">Save</bc-button>
<bc-button type="red" [routerLink]="['/']">Cancel</bc-button>
