.bc-button {
    display: inline-block;
    padding: 5px 10px;
    cursor: pointer;
    box-sizing: border-box;
    border: 1px solid @liteGray;
    .raduis(4px);
    &_red {
        .mx-bg-hover(@red, @white);
    }
    &_gray {
        .mx-bg-hover(@gray, @white);
    }
}
