.bc-cart {
    display: block;
    padding-left: 10px;
    &-item {
        padding: 0 0 10px 0px;
        display: flex;
        &__label {
            vertical-align: top;
            color: @gray;
            &_default {
                flex-basis: 200px;
            }
            &_error {
                color: @red;
            }
        }
        &__content {}
    }
}

