<bc-button [routerLink]="['book', 'new']" type="gray">
  Add
</bc-button>

<bc-table>
  <bc-table-row>
    <bc-table-cell>
      <bc-link [routerLink]="[]" [queryParams]="{sort:'title'}">
        Заголовок
      </bc-link>
    </bc-table-cell>
    <bc-table-cell>
      Список авторов
    </bc-table-cell>
    <bc-table-cell>
      Количество страниц
    </bc-table-cell>
    <bc-table-cell>
      Издатель
    </bc-table-cell>
    <bc-table-cell>
      <bc-link [routerLink]="[]" [queryParams]="{sort:'publicationYear'}">
        Год публикации
      </bc-link>
    </bc-table-cell>
    <bc-table-cell>
      Дата выхода в тираж
    </bc-table-cell>
    <bc-table-cell>
      ISBN
    </bc-table-cell>
    <bc-table-cell>
      Изображение
    </bc-table-cell>
    <bc-table-cell></bc-table-cell>
  </bc-table-row>
  <bc-table-row *ngFor="let book of books$ | async">
    <bc-table-cell>{{book.title}}</bc-table-cell>
    <bc-table-cell>{{book.authors | bcAuthorsJoin}}</bc-table-cell>
    <bc-table-cell>{{book.pages}}</bc-table-cell>
    <bc-table-cell>{{book.publisherName}}</bc-table-cell>
    <bc-table-cell>{{book.publicationYear}}</bc-table-cell>
    <bc-table-cell>{{book.releaseAt}}</bc-table-cell>
    <bc-table-cell>{{book.isbn}}</bc-table-cell>
    <bc-table-cell>
      <bc-image *ngIf="book.image" width="100" [value]="book.image"></bc-image>
    </bc-table-cell>
    <bc-table-cell>
      <bc-button type="gray" [routerLink]="['book', book.id]">Edit</bc-button>
      <bc-button type="red" (click)="deleteBook(book)">Delete</bc-button>
    </bc-table-cell>
  </bc-table-row>
</bc-table>
